<div class="container">
  <div class="card text">
    <div class="card-header text-center">
      <h4>Historia del Ecuavoley</h4>
    </div>
    <div class="card-body">
      <p class="card-text">El Ecuavoley, también conocido como vóley criollo, es una modalidad del vóleibol creado en
        Ecuador. Se baraja la posibilidad de que este deporte, o alguno parecido, se practicara ya en el siglo XIX en
        Ecuador. Pero lo cierto es que su andadura oficial, aunque de forma amateur siempre practicado como deporte de
        barrio, comenzó a mediados del siglo XX en la ciudad de Quito. De hecho fue en esta ciudad, junto con Cuenca,
        donde se desarrolló y creó definitivamente esta nueva modalidad deportiva del vóleibol.
        Luego, la práctica del deporte se iría expandiendo por territorio ecuatoriano, gracias a las distintas
        migraciones, llegando a ser conocido en la totalidad de Ecuador. Al inicio, el ecuavoley era considerado como el
        deporte de los pobres y los taxistas, aunque, poco a poco, esto ha ido cambiando.</p>
    </div>
    <div class="card-deck">
      <div class="card">
        <img src="assets/img/red.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Red</h3>
          <p class="card-text">La red tendrá 9.50 m. de largo por 0.50 m. de ancho y será colocada entre los postes
            verticales y a una altura de 2.80, medidos en el centro de la cancha. </p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/ballo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Balón</h3>
          <p class="card-text">Será esférico, con la cubierta de cuero y no se podrá emplear, ningún material que vaya a
            constituir peligro para los jugadores.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/indumentaria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Vestimenta</h3>
          <p class="card-text"> En el ecuavoley una ropa cómoda ya sea calentador o pantaloneta y una camiseta más una gorra
            es la ideal para transpirar durante dos o tres tiempos de 15 puntos cada uno.</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
    <h4>¡El deporte de los Ecuatorianos!</h4>
    </div>
  </div>
</div>
